<div ng-controller="systemController">
	<form role="form">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Enter property key" name="propKey" id="propKey"
				ng-model="propKey" />
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Key</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(k, v) in systemProperties">
					<td>{{k}}</td>
					<td style="max-width: 300px; word-wrap: break-word;">
						<span>{{v}}</span>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>